<section class="orders-show">

  <header class="page-header">
    <h1>Order <%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Image</th>
          <th>Description</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
         
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'line_item', collection: @order.line_items %>
        <tr>
        <th>Total amount</th>
        <th colspan=5><%= humanized_money_with_symbol  @order.total_cents/100.0, precision: 2%></th></tr>
      </tbody>
      
    </table>
  </div>

  <p>Email Used: <%= @order.email %></p>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
